---
pagination:
  data: collections.posts
  size: 1
  alias: posts
name: About
---

{% extends './_layouts/base.njk' %}

{% set title = "OAKwave Marketing Strategy" %}
{% block stylesandscripts %}

<link href="/assets/css/gandalf.css" type="css" />

{% endblock stylesandscripts %}	
<div class="gandalf">
  <div class="fireball"></div>
  <div class="skirt"></div>
  <div class="sleeves"></div>
  <div class="shoulders">
    <div class="hand left"></div>
    <div class="hand right"></div>
  </div>
  <div class="head">
    <div class="hair"></div>
    <div class="beard"></div>
  </div>
</div>
   
